[submodule "Data-Mining"]
	path = Data-Mining
	url = https://github.com/rhindottire/Data-Mining

[submodule "Information-Retrieval/AdalFlow"]
	path = Information-Retrieval/AdalFlow
	url = https://github.com/rhindottire/AdalFlow
[submodule "Information-Retrieval/Cosinus-Similarity"]
	path = Information-Retrieval/Cosinus-Similarity
	url = https://github.com/rhindottire/Cosinus-Similarity

[submodule "Data-Science"]
	path = Data-Science
	url = https://github.com/rhindottire/Data-Science
[submodule "Framework-Lab"]
	path = Framework-Lab
	url = https://github.com/rhindottire/Framework-Lab
