/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(135deg, #0d47a1, #121212);
  color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

form {
  width: 100%;
  max-width: 600px;
  background: rgba(43, 43, 63, 0.85);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  padding: 30px;
  /* backdrop-filter: blur(10px); */
  animation: fadeIn 1s ease-out;
}

.title {
  font-size: 1.8rem;
  color: #00baff;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  text-shadow: 2px 4px 2px black;
}

label {
  display: block;
  color: #f5f5f5;
  font-weight: bold;
  margin: 15px 0 5px;
}

select, input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 8px;
  background-color: #222;
  color: #f5f5f5;
  outline: none;
  transition: border-color 0.3s ease;
}

select:focus, input[type="number"]:focus {
  border-color: #00baff;
}

small {
  color: #d32f2f;
  font-size: 0.9rem;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  background-color: #333;
  color: #f5f5f5;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s, transform 0.2s ease;
}

button:hover {
  background-color: #444;
  transform: translateY(-2px);
}

button[type="submit"] {
  background-color: #0066cc;
}

button[type="submit"]:hover {
  background-color: #0055aa;
}

button[type="reset"] {
  background-color: #d32f2f;
}

button[type="reset"]:hover {
  background-color: #b71c1c;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}